<ion-header>
  <ion-toolbar>
    <ion-title [innerText]="entity.name || ''"></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ng-container *ngTemplateOutlet="main"></ng-container>
</ion-content>

<ng-template #main>
  <div *ngIf="!loading, else load" class="d-flex flex-column gap-10">
    <div>
      <span class="font-semibold">Dia: </span>
      <span>{{entity.eventDate | date: 'dd/MM/yyyy'}}</span>
    </div>
  
    <div>
      <span class="font-semibold">Horário: </span>
      <span>{{entity.eventDate | date: 'HH:mm'}}</span>
    </div>
  
    <div>
      <span class="font-semibold">Local: </span>
      <span>{{entity.address}}</span>
    </div>
  
    <div>
      <span class="font-semibold">Descrição </span>
      <p class="m-t-5">
        {{entity.description}}
      </p>
    </div>

    <div>
      <ion-button expand="block">Confirmar Presença</ion-button>
    </div>
  </div>
</ng-template>

<ng-template #load>
  <ion-loading [isOpen]="loading" spinner="circles"></ion-loading>
</ng-template>