ion-content, ion-list {
    --background: url(../../../assets/images/background/all-pages.png)  0 0%/100% 95% ;
    background: url(../../../assets/images/background/all-pages.png)  0 0%/100% 95% ;
}

ion-searchbar {
    --color: white;
}